* {
    margin: 0;
    padding: 0;
}

ul li:nth-child(2n) {
    color: purple;
}

/* options
ul li:nth-child(n) {
    color: purple;
}

ul li:nth-child(even) {
    color: purple;
}

ul li:nth-child(odd) {
    color: purple;
}

using custom intervals

ul li:nth-child(2n) {
    color: purple;
}

 */